
<ul class="nav nav-tabs" style="margin-bottom: 15px;">


</ul>

<ul class="mytabs">
	<li class="active"><a href="#vr" class="btn btn-default" data-toggle="tab">VR аксесуары</a></li>
	<li><a href="#telephones" class="btn btn-default" data-toggle="tab">Смартфоны</a></li>
	<li><a href="#tablets" class="btn btn-default" data-toggle="tab">Планшеты</a></li>
</ul>

<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="vr">

  	<div class="card" style="width: 20rem;">
  	  <img class="card-img-top" src="http://www.digitalartsonline.co.uk/cmsdata/features/3496635/Oculus_688.jpg" width="200rem" alt="Card image cap">
  	  <div class="card-block">
  	    <h4 class="card-title">Оклусы</h4>
  	    <p class="card-text">Быстрый пример текста для описание данного товара, а именно Oculus</p>
  		<p class="card-price">200 BYN</p>
  	    <a href="#" class="btn btn-primary">Создать инвойс</a>
  	  </div>
  	</div>

  	<div class="card" style="width: 20rem;">
  	  <img class="card-img-top" src="http://www.digitalartsonline.co.uk/cmsdata/features/3496635/Oculus_688.jpg" width="200rem" alt="Card image cap">
  	  <div class="card-block">
  	    <h4 class="card-title">Оклусы</h4>
  	    <p class="card-text">Быстрый пример текста для описание данного товара, а именно Oculus</p>
  		<p class="card-price">200 BYN</p>
  	    <a href="#" class="btn btn-primary">Создать инвойс</a>
  	  </div>
  	</div>

  </div>
  <div class="tab-pane fade" id="telephones">
	  <div class="card" style="width: 20rem;">
    	  <img class="card-img-top" src="http://www.digitalartsonline.co.uk/cmsdata/features/3496635/Oculus_688.jpg" width="200rem" alt="Card image cap">
    	  <div class="card-block">
    	    <h4 class="card-title">Оклусы</h4>
    	    <p class="card-text">Быстрый пример текста для описание данного товара, а именно Oculus</p>
    		<p class="card-price">200 BYN</p>
    	    <a href="#" class="btn btn-primary">Создать инвойс</a>
    	  </div>
     </div>
  </div>

  <div class="tab-pane fade" id="tablets">
	<div class="card" style="width: 20rem;">
		<img class="card-img-top" src="http://www.digitalartsonline.co.uk/cmsdata/features/3496635/Oculus_688.jpg" width="200rem" alt="Card image cap">
		<div class="card-block">
		  <h4 class="card-title">Оклусы</h4>
		  <p class="card-text">Быстрый пример текста для описание данного товара, а именно Oculus</p>
		  <p class="card-price">200 BYN</p>
		  <a href="#" class="btn btn-primary">Создать инвойс</a>
		</div>
	 </div>
  </div>
</div>
